html {
  font-size: 13px;
  height: 100%;
}

body {
  font-family: "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.btn, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

#app {
  position: fixed;
  width: 100%;
  height: 100%;
}

.code {
  position: fixed;
  width: 100%;
  height: 100%;
}

.code--controls {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  z-index: 4;
  top: 0;
  width: 100%;

  .btn {
    line-height: 3rem;
    height: 3rem;
    padding: 0 1rem;
  }
}

.code--panes {
  position: absolute;
  top: 3rem;
  width: 100%;
  bottom: 0;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.code--pane {
  flex: 1;
  background: white;
  font-size: 13px;
  overflow: auto;
  border-right: 1px solid #ccc;

  .code--table {
    font-family: "Source Code Pro", Consolas, Monaco, "Courier New", monospace;
    width: 100%;

    td, th {
      padding: .25rem .75rem;
      vertical-align: middle;
    }

    th {
      border-bottom: 1px solid #ccc;
    }

    td:first-child {
      width: 3rem;
      background-color: #f0f0f0;
      color: #999;
      text-align: right;
      vertical-align: top;
    }

    td:last-child {
      white-space: pre;
    }

    tr.active {
      td:first-child { background-color: #E0E0E0; }
      td:last-child { background-color: #CFD8DC; }
    }
  }

  &.active {
    tr.active {
      td:first-child { background-color: #FFF59D; color: #000; }
      td:last-child { background-color: #FFF176; }
    }
  }
}
